<div class="row nested-fields">
  <div class="col-md-3">
    <%= f.label :complementary_exam_type, "Tipo" %>
    <%= f.select :complementary_exam_type, ComplementaryExam::TYPE, {},{class: 'form-control'}  %>
  </div>
  <div class="col-md-4">
    <%= f.label :comment, "Observacion" %>
    <%= f.text_field :comment,{class: 'form-control'}  %>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_association "Eliminar", f , class: "btn btn-danger"%>
  </div>
</div>