<div class="row nested-fields">
  <div class="col-md-3">
    <%= f.label :laboratory_type, "Tipo" %>
    <%= f.select :laboratory_type, Laboratory::TYPE, {},{class: 'form-control'}  %>
  </div>
  <div class="col-md-3">
    <%= f.label :date, "Fecha" %>
    <%= f.date_select :date, {:start_year=>1930, order: [:day, :month, :year]}, {:class => "date-myselect form-control"} %>
  </div>
  <div class="col-md-3">
    <%= f.label :comment, "Observacion" %>
    <%= f.text_field :comment,{class: 'form-control'}  %>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_association "Eliminar", f , class: "btn btn-danger"%>
  </div>
</div>