
<div class="panel panel-danger">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <p><label for = "surname">Apellido</label>: <%= @patient.surname %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "name">Nombre</label>: <%= @patient.name %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "document_number">DNI</label>: <%= @patient.document_number %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "associate_number">Obra Social/Num.</label>: <%= @patient.associate_number %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p><label for = "birth_date">Fecha de Nacimiento</label>: <%= @patient.birth_date %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "sex">Sexo</label>: <%= @patient.sex %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "country_code">Nacionalidad</label>: <%= @patient.country_code %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "marital_status">Estado Civil</label>: <%= @patient.marital_status %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p><label for = "city">Ciudad</label>: <%= @patient.city %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "phone">Tel&eacutefono</label>: <%= @patient.phone %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "close_person_phone">Tel. Allegado/Familiar</label>: <%= @patient.close_person_phone %></p>
      </div>
      <div class="col-md-3">
        <p><label for = "job">Ocupaci&oacuten</label>: <%= @patient.job %></p>
      </div>
    </div>
  </div>
</div>