<%= form_for @medical_consultation do |f| %>
<%= hidden_field_tag :patient_id , @patient_id %>
<div class="row">
  <div class="col-md-12">
    <h1>Consulta</h1>
  </div>
</div>
<%= render 'patient' %>
<div class="row">
  <div class="col-md-2">
    <label>Fecha </label>
    <input value="<%= @medical_consultation.date.strftime("%d/%m/%Y") %>" disabled  class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Motivo</label>
    <textarea class="form-control" disabled > <%= @medical_consultation.reason %></textarea>
  </div>
</div>

<div class="panel panel-primary">
      <div class="panel-heading"><label>Laboratorio <%= f.check_box :activate_laboratory, id:"activateLaboratoryCheckBox",  :data => { :toggle => 'toggle', :on => 'Si', :off => 'No', :size => 'mini' } %> </label> </div>
      <div class="panel-body">
        <div class="row" id="laboratoryDiv">
          <div class="col-md-1">
            <table class="table table-bordered">
              <thead>
              <th>Tipo</th>
              <th>Hto</th>
              <th>Hb</th>
              <th>GB</th>
              <th>Gluc</th>
              <th>Urea</th>
              <th>Creat</th>
              <th>TGO</th>
              <th>TGP</th>
              <th>FAL</th>
              <th>Amilasa</th>
              <th>BT</th>
              <th>BD</th>
              <th>Prot.T.</th>
              <th>Alb</th>
              <th>NA+</th>
              <th>K+</th>
              <th>Plaq</th>
              <th>Conc.PT</th>
              <th>CEA</th>
              <th>CA_19_9</th>
              <th>CA_125</th>
              <th>accion</th>
              </thead>
              <tbody id="lines">
              <% @medical_consultation.laboratories.each do |laboratory| %>
                <tr>
                  <td><%= laboratory.date.strftime("%d/%m/%Y") %></td>
                  <td>
                    <%= laboratory.hto %>
                  </td>
                  <td>
                    <%= laboratory.hb %>
                  </td>
                  <td>
                    <%= laboratory.gb %>
                  </td>
                  <td>
                    <%= laboratory.gluc %>
                  </td>
                  <td>
                    <%= laboratory.urea %>
                  </td>
                  <td>
                    <%= laboratory.creat %>
                  </td>
                  <td >
                    <%= laboratory.tgo != "" ? laboratory.tgo : " " %>
                  </td>
                  <td>
                    <%= laboratory.tgp %>
                  </td>
                  <td>
                    <%= laboratory.fal %>
                  </td>
                  <td>
                    <%= laboratory.amilasa %>
                  </td>
                  <td>
                    <%= laboratory.bt %>
                  </td>
                  <td>
                    <%= laboratory.bd %>
                  </td>
                  <td>
                    <%= laboratory.prot_tot %>
                  </td>
                  <td>
                    <%= laboratory.alb %>
                  </td>
                  <td>
                    <%= laboratory.na %>
                  </td>
                  <td>
                    <%= laboratory.k %>
                  </td>
                  <td>
                    <%= laboratory.plaq %>
                  </td>
                  <td>
                    <%= laboratory.conc_pt %>
                  </td>
                  <td>
                    <%= laboratory.cea %>
                  </td>
                  <td>
                    <%= laboratory.ca199 %>
                  </td>
                  <td>
                    <%= laboratory.ca124 %>
                  </td>
                  <td></td>
                  </tr>
                  <% end %>           
                  <%= link_to_add_association 'Agregar', f, :laboratories,
                  :"data-association-insertion-node" => "tbody#lines",
                  :"data-association-insertion-method" => "append",
                  :class => "links btn btn-primary" %>
              
              </table>
          </div>
        </div>
    
<div class="panel panel-primary">
  <div class="panel-heading"><label>Examenes Complementarios</label>  </div>
  <div class="panel-body">
  <table class="table">
  <thead>
    <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Observacion</th>
    </tr>
  </thead>
    <tbody>
        <% @medical_consultation.complementary_exams.each do |complementary_exam| %>
            <tr>
                <td><%= complementary_exam.date%></td>
                <td><%= complementary_exam.complementary_exam_type%></td>
                <td><%= complementary_exam.comment%></td>
            </tr>
        <% end %>
    </tbody>
    </table>
    <div class="links">
        <%= link_to_add_association 'Agregar examen', f, :complementary_exams, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><label>Evoluciones</label>  </div>
  <div class="panel-body">
  <table class="table">
  <thead>
    <tr>
        <th>Fecha</th>
        <th>Observacion</th>
    
  </thead>
    <tbody>
        <% @medical_consultation.evolutions.each do |evolution| %>
            <tr>
                <td><%= evolution.date%></td>
                <td><%= evolution.description%></td>
            
        <% end %>
    </tbody>
    </table>
    <div class="links">
        <%= link_to_add_association 'Agregar evolucion', f, :evolutions, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-2">
    <p><%= link_to 'Volver',{:action => "index", :controller => 'medical_consultations', :patient_id => @patient_id  }, class: "btn btn-primary btn-block" %></p>
  </div>
  <div class="col-md-2 col-md-offset-8">
    <%= f.submit "Guardar", class: "btn btn-success btn-block" %>
  </div>
</div>
<% end %>