<%= javascript_include_tag 'medical_consultation/medical_consultations', 'data-turbolinks-track': 'true' %>

<h1>Consulta</h1>
<%= form_for @medical_consultation do |f| %>
    <div class="row">
      <div class="col-md-1">
        <label>Fecha </label>
      </div>
      <div class="col-md-3">
        <%= f.date_select :date, {:start_year=>1930, order: [:day, :month, :year]}, {:class => "date-myselect form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Motivo</label> <%= f.text_area :reason, class: 'form-control' %>
      </div>
    </div>
    <br>
    <%= hidden_field_tag :patient_id , @patient_id %>
    <%= f.fields_for :physical_exam do |physical_exam| %>
    <div class="panel panel-primary">
      <div class="panel-heading">Examen Fisico </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <label for = "superficial_pain">Estado general</label>
              <%= physical_exam.select :overall_status, PhysicalExam::OVERALL_STATUS_TYPE, {},{class: 'form-control'}  %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>Abdomen  <%= physical_exam.check_box :activate_abdomen, id:"abdomenCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="abdomenDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :abdomen do |abdomen| %>
                  <div class="row">
                    <div class="col-md-12">
                      <h3><label>Inspeccion </label> <%= abdomen.check_box :inspection, id: "inspectionCheckBox" %></h3>
                    </div>
                  </div>
                  <div id="inspectionDiv">
                    <div class="row">
                      <div class="col-md-2">
                        <label for = "plane">Plano </label>
                        <%= abdomen.check_box :plane %>
                      </div>
                      <div class="col-md-2">
                        <label for = "spherical">Globoso </label>
                        <%= abdomen.check_box :spherical %>
                      </div>
                      <div class="col-md-2">
                        <label for = "relaxed">Distendido </label>
                        <%= abdomen.check_box :relaxed %>
                      </div>
                      <div class="col-md-2">
                        <label for = "asymmetric">Asimetrico </label>
                        <%= abdomen.check_box :asymmetric %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for = "umbilical_hernia">Hernia Umbilical </label>
                        <%= abdomen.check_box :umbilical_hernia %>
                      </div>
                      <div class="col-md-2">
                        <label for = "eventration">Eventracion </label>
                        <%= abdomen.check_box :eventration %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for = "location">Localizacion: </label>
                        <%= abdomen.text_field :location, class: 'form-control' %>
                      </div>
                      <div class="col-md-6">
                        <label for = "size">Tamaño: </label>
                        <%= abdomen.text_field :size, class: 'form-control' %>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-2">
                        <label for = "scar">Cicatrices </label>
                        <%= abdomen.check_box :scar, id:"activateScarCheckBox"  %>
                      </div>
                    </div>
                    <div id="scarsDiv">
                      <div class="row">
                        <div class="col-md-1">
                          <label for = "msu">MSU </label>
                          <%= abdomen.check_box :msu %>
                        </div>
                        <div class="col-md-1">
                          <label for = "miu">MIU </label>
                          <%= abdomen.check_box :miu %>
                        </div>
                        <div class="col-md-1">
                          <label for = "xp">XP </label>
                          <%= abdomen.check_box :xp %>
                        </div>
                        <div class="col-md-2">
                          <label for = "mc_burney">MC Burney </label>
                          <%= abdomen.check_box :mc_burney %>
                        </div>
                        <div class="col-md-2">
                          <label for = "kocher">Kocher </label>
                          <%= abdomen.check_box :kocher %>
                        </div>
                        <div class="col-md-2">
                          <label for = "pfannenstiel">Pfannenstiel </label>
                          <%= abdomen.check_box :pfannenstiel %>
                        </div>
                        <div class="col-md-1">
                          <label for = "others">Otras </label>
                          <%= abdomen.check_box :others %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for = "others_description">Aclaracion </label>
                          <%= abdomen.text_field :others_description, class: 'form-control'  %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3><label>Palpacion </label> <%= abdomen.check_box :palpation, id: "palpationCheckBox" %></h3>
                    </div>
                  </div>
                  <div id="palpationDiv">
                    <div class="row">
                      <div class="col-md-2">
                        <label for = "soft">Blando </label>
                        <%= abdomen.check_box :soft %>
                      </div>
                      <div class="col-md-2">
                        <label for = "uptight">Tenso </label>
                        <%= abdomen.check_box :uptight %>
                      </div>
                      <div class="col-md-6">
                        <label for = "painful">Doloroso </label>
                        <%= abdomen.check_box :painful, id:"activatePainfulCheckBox" %>
                      </div>
                    </div>
                    <div class="row" id="painfulDiv">
                      <div class="col-md-3">
                        <label for = "superficial_pain">Dolor Superficial</label>
                        <%= abdomen.select :superficial_pain, Abdomen::PALPATION_TYPE, {},{class: 'form-control'}  %>
                      </div>
                      <div class="col-md-3">
                        <label for = "deep_pain">Dolor Profundo </label>
                        <%= abdomen.select :deep_pain, Abdomen::PALPATION_TYPE, {},{class: 'form-control'}  %>
                      </div>
                      <div class="col-md-3">
                        <label for = "defence">Defensa </label>
                        <%= abdomen.select :defence, Abdomen::PALPATION_TYPE, {},{class: 'form-control'}  %>
                      </div>
                      <div class="col-md-3">
                        <label for = "peritoneal_reaction">Reaccion Peritoneal </label>
                        <%= abdomen.select :peritoneal_reaction, Abdomen::PALPATION_TYPE, {},{class: 'form-control'}  %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3><label>Percusion </label> <%= abdomen.check_box :percussion, id:"percussionCheckBox" %></h3>
                    </div>
                  </div>
                  <div id="percussionDiv">
                    <div class="row">
                      <div class="col-md-3">
                        <label for = "bloat">Timpanismo</label>
                        <%= abdomen.select :bloat, Abdomen::BLOAT_TYPE, {},{class: 'form-control'}  %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3><label>Auscultacion </label> <%= abdomen.check_box :auscultation, id:"auscultationCheckBox" %></h3>
                    </div>
                  </div>
                  <div class="row" id="auscultationDiv">
                    <div class="col-md-3">
                      <label for = "bloat">Ruidos Hidroaereos</label>
                      <%= abdomen.select :auscultation_type, Abdomen::AUSCULTATION_TYPE, {},{class: 'form-control'}  %>
                    </div>
                    <div class="col-md-6">
                      <label for="auscultation_location">Localizacion de la anormalidad:</label>
                      <%= abdomen.text_field :auscultation_location, class: 'form-control'  %>
                    </div>
                  </div>

              </div>
          </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <h3>Examen Proctologico  <%= physical_exam.check_box :activate_proctochological_examination, id:"activateProctochologicalExaminationCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="proctochologicalExaminationDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :proctochological_examination do |proctochological_examination| %>
                <div class="row">
                  <div class="col-md-3">
                    <label for = "sking_lesion">Lesion de piel</label>
                    <%= proctochological_examination.select :sking_lesion, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for = "hematoma">Hematoma</label>
                    <%= proctochological_examination.select :hematoma, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="traumatic_injury">Lesion Traumatica</label>
                    <%= proctochological_examination.select :traumatic_injury, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="uncomplicated_hemorrhoids">Hemorroides no complicada</label>
                    <%= proctochological_examination.select :uncomplicated_hemorrhoids, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label for = "acute_fissure">Fisura aguda</label>
                    <%= proctochological_examination.select :acute_fissure, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for = "chronic_fissure">Fisura cronica</label>
                    <%= proctochological_examination.select :chronic_fissure, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="fistulous_orifice">Orificio fistuloso</label>
                    <%= proctochological_examination.select :fistulous_orifice, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="bulging">Abombamiento</label>
                    <%= proctochological_examination.select :bulging, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label for = "plicoma">Plicoma</label>
                    <%= proctochological_examination.select :plicoma, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for = "redness">Enrojecimiento</label>
                    <%= proctochological_examination.select :redness, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="thrombosis_hemorrhoids">Hemorroides Complicada, Trombosis</label>
                    <%= proctochological_examination.select :thrombosis_hemorrhoids, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="fluxion_hemorrhoids">Hemorroides Complicada, Fluxion</label>
                    <%= proctochological_examination.select :fluxion_hemorrhoids, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label for="hemorrhage_hemorrhoids">Hemorroides Complicada, Hemorragia</label>
                    <%= proctochological_examination.select :hemorrhage_hemorrhoids, ProctochologicalExamination::HOUR, {},{class: 'form-control'}  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label for="anal_sphincter_tonicity">Tonicidad del esfinter anal</label>
                    <%= proctochological_examination.select :anal_sphincter_tonicity, ProctochologicalExamination::ANAL_SPHINCTER_TONICITY_TYPE, {},{class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3">
                    <label for="rectal_ampoule">Ampolla Rectal</label>
                    <%= proctochological_examination.select :rectal_ampoule, ProctochologicalExamination::RECTAL_AMPOULE_TYPE,{}, {class: 'form-control'}  %>
                  </div>
                  <div class="col-md-3" id="occupiedRectalAmpouleDiv">
                    <label for="occupied_rectal_ampoule">Ampolla Rectal Ocupada:</label>
                    <%= proctochological_examination.select :occupied_rectal_ampoule, ProctochologicalExamination::OCCUPIED_RECTAL_AMPOULE_TYPE, {},{class: 'form-control'}  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for = "formation">Formacion </label>
                    <%= proctochological_examination.check_box :formation, id:"formationCheckBox" %>
                  </div>
                </div>
                <div class="row" id="formationPositionDiv">
                  <div class="col-md-2">
                    <label for = "formation_position">Ubicacion </label>
                    <%= proctochological_examination.select :formation_position, ProctochologicalExamination::FORMATION_POSITION_OPTION, {},{class: 'form-control'}  %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Examen Inguinocrural  <%= physical_exam.check_box :activate_inquinocrural_examination, id:"activateInguinocruralExaminationCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="inguinocruralExaminationDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :inguinocrural_examination do |inguinocrural_examination| %>
                  <div class="row">
                    <table class="table">
                      <thead>
                      <tr>
                        <th style="text-align: center;">Derecha</th>
                        <th style="text-align: center;">Hernia Iguinal</th>
                        <th style="text-align: center;">Izquierda</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td align="center"><%= inguinocrural_examination.check_box :right_reductible_inguinal_hernia %></td>
                        <td align="center">Reductible</td>
                        <td align="center"><%= inguinocrural_examination.check_box :left_reductible_inguinal_hernia %></td>
                      </tr>
                      <tr>
                        <td align="center"><%= inguinocrural_examination.check_box :right_coercible_inguinal_hernia %></td>
                        <td align="center">Coercible</td>
                        <td align="center"><%= inguinocrural_examination.check_box :left_coercible_inguinal_hernia %></td>
                      </tr>
                      <tr>
                        <th style="text-align: center;">Derecha</th>
                        <th style="text-align: center;">Hernia Crural</th>
                        <th style="text-align: center;">Izquierda</th>
                      </tr>
                      <tr>
                        <td align="center"><%= inguinocrural_examination.check_box :right_reductible_crural_hernia %></td>
                        <td align="center">Reductible</td>
                        <td align="center"><%= inguinocrural_examination.check_box :left_reductible_crural_hernia %></td>
                      </tr>
                      <tr>
                        <td align="center"><%= inguinocrural_examination.check_box :right_coercible_crural_hernia %></td>
                        <td align="center">Coercible</td>
                        <td align="center"><%= inguinocrural_examination.check_box :left_coercible_crural_hernia %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Examen Cervical  <%= physical_exam.check_box :activate_cervical_examination, id:"activateCervicalExaminationCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="cervicalExaminationDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :cervical_examination do |cervical_examination| %>
                  <div class="row">
                    <div class="col-md-2">
                      <label for = "lateral_tumor">Tumor Lateral</label>
                      <%= cervical_examination.check_box :lateral_tumor %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for = "left_lateral_tumor">Izquierdo</label>
                      <%= cervical_examination.check_box :left_lateral_tumor %>
                    </div>
                    <div class="col-md-2">
                      <label for = "right_lateral_tumor">Derecho</label>
                      <%= cervical_examination.check_box :right_lateral_tumor %>
                    </div>
                    <div class="col-md-8">
                      <label for = "tumor_description">Descripcion</label>
                      <%= cervical_examination.text_field :tumor_description, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for = "central_tumor">Central</label>
                      <%= cervical_examination.check_box :central_tumor %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for = "central_tumor_description">Descripcion</label>
                      <%= cervical_examination.text_field :central_tumor_description, class: 'form-control' %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Examen Mamario  <%= physical_exam.check_box :activate_breast_exam, id:"activateBreastExamCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="breastExamDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :breast_exam do |breast_exam| %>
                  <div class="row">
                    <div class="col-md-6">
                      <h4>Derecho</h4>
                    </div>
                    <div class="col-md-6">
                      <h4>Izquierdo</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div id="breast"></div>
                    <%= breast_exam.hidden_field :left_breast_first_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :left_breast_second_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :left_breast_third_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :left_breast_fourth_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :left_breast_center, value: 0 %>

                    <%= breast_exam.hidden_field :right_breast_first_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :right_breast_second_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :right_breast_third_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :right_breast_fourth_quadrant, value: 0 %>
                    <%= breast_exam.hidden_field :right_breast_center, value: 0 %>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for = "breast_description">Descripcion</label>
                      <%= breast_exam.text_field :breast_description, class: 'form-control'  %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for = "right_armpit">Axila Derecha</label>
                      <%= breast_exam.check_box :right_armpit %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for = "left_armpit">Axila Izquierda</label>
                      <%= breast_exam.check_box :left_armpit%>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Lesion de Piel <%= physical_exam.check_box :activate_skin_lesion, id:"activateSkinLesionCheckBox" %> </h3>
            </div>
          </div>
          <div class="row" id="skinLesionDiv">
            <div class="col-md-12">
              <%= physical_exam.fields_for :skin_lesion_exam do |skin_lesion_exam| %>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Motivo</label> <%= skin_lesion_exam.text_area :skin_lesion_description, class: 'form-control' %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
        </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Examenes Complementarios </div>
      <div class="panel-body">
        <%= f.fields_for :complementary_exams do |complementary_exams| %>
            <%= render 'complementary_exam_fields', f: complementary_exams %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Agregar examen', f, :complementary_exams, class: "btn btn-primary" %>
        </div>
      </div>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">Laboratorio </div>
      <div class="panel-body">
        <%= f.fields_for :laboratories do |laboratoties| %>
            <%= render 'laboratory_fields', f: laboratoties %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Agregar examen', f, :complementary_exams, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  <br>
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <%= f.submit "Guardar", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>


<script>
    $(document).ready(function() {
        if( $("#abdomenCheckBox").is(':checked')) {
            $("#abdomenDiv").show();
        } else {
            $("#abdomenDiv").hide();
        }

        $("#abdomenCheckBox").click(function() {
            if( $("#abdomenCheckBox").is(':checked')) {
                $("#abdomenDiv").show();
            } else {
                $("#abdomenDiv").hide();
            }
        });

        if( $("#inspectionCheckBox").is(':checked')) {
            $("#inspectionDiv").show();
        } else {
            $("#inspectionDiv").hide();
        }

        $("#inspectionCheckBox").click(function() {
            if( $("#inspectionCheckBox").is(':checked')) {
                $("#inspectionDiv").show();
            } else {
                $("#inspectionDiv").hide();
            }
        });

        if( $("#palpationCheckBox").is(':checked')) {
            $("#palpationDiv").show();
        } else {
            $("#palpationDiv").hide();
        }

        $("#palpationCheckBox").click(function() {
            if( $("#palpationCheckBox").is(':checked')) {
                $("#palpationDiv").show();
            } else {
                $("#palpationDiv").hide();
            }
        });

        if( $("#percussionCheckBox").is(':checked')) {
            $("#percussionDiv").show();
        } else {
            $("#percussionDiv").hide();
        }

        $("#percussionCheckBox").click(function() {
            if( $("#percussionCheckBox").is(':checked')) {
                $("#percussionDiv").show();
            } else {
                $("#percussionDiv").hide();
            }
        });

        if( $("#activateProctochologicalExaminationCheckBox").is(':checked')) {
            $("#proctochologicalExaminationDiv").show();
        } else {
            $("#proctochologicalExaminationDiv").hide();
        }

        $("#activateProctochologicalExaminationCheckBox").click(function() {
            if( $("#activateProctochologicalExaminationCheckBox").is(':checked')) {
                $("#proctochologicalExaminationDiv").show();
            } else {
                $("#proctochologicalExaminationDiv").hide();
            }
        });

        if( $("#activateInguinocruralExaminationCheckBox").is(':checked')) {
            $("#inguinocruralExaminationDiv").show();
        } else {
            $("#inguinocruralExaminationDiv").hide();
        }

        $("#activateInguinocruralExaminationCheckBox").click(function() {
            if( $("#activateInguinocruralExaminationCheckBox").is(':checked')) {
                $("#inguinocruralExaminationDiv").show();
            } else {
                $("#inguinocruralExaminationDiv").hide();
            }
        });

        if( $("#activateCervicalExaminationCheckBox").is(':checked')) {
            $("#cervicalExaminationDiv").show();
        } else {
            $("#cervicalExaminationDiv").hide();
        }

        $("#activateCervicalExaminationCheckBox").click(function() {
            if( $("#activateCervicalExaminationCheckBox").is(':checked')) {
                $("#cervicalExaminationDiv").show();
            } else {
                $("#cervicalExaminationDiv").hide();
            }
        });

        if( $("#activateBreastExamCheckBox").is(':checked')) {
            $("#breastExamDiv").show();
        } else {
            $("#breastExamDiv").hide();
        }

        $("#activateBreastExamCheckBox").click(function() {
            if( $("#activateBreastExamCheckBox").is(':checked')) {
                $("#breastExamDiv").show();
            } else {
                $("#breastExamDiv").hide();
            }
        });

        if( $("#activateSkinLesionCheckBox").is(':checked')) {
            $("#skinLesionDiv").show();
        } else {
            $("#skinLesionDiv").hide();
        }

        $("#activateSkinLesionCheckBox").click(function() {
            if( $("#activateSkinLesionCheckBox").is(':checked')) {
                $("#skinLesionDiv").show();
            } else {
                $("#skinLesionDiv").hide();
            }
        });

        if( $("#activateScarCheckBox").is(':checked')) {
            $("#scarsDiv").show();
        } else {
            $("#scarsDiv").hide();
        }

        $("#activateScarCheckBox").click(function() {
            if( $("#activateScarCheckBox").is(':checked')) {
                $("#scarsDiv").show();
            } else {
                $("#scarsDiv").hide();
            }
        });

        if( $("#activatePainfulCheckBox").is(':checked')) {
            $("#painfulDiv").show();
        } else {
            $("#painfulDiv").hide();
        }

        $("#activatePainfulCheckBox").click(function() {
            if( $("#activatePainfulCheckBox").is(':checked')) {
                $("#painfulDiv").show();
            } else {
                $("#painfulDiv").hide();
            }
        });

        if( $("#auscultationCheckBox").is(':checked')) {
            $("#auscultationDiv").show();
        } else {
            $("#auscultationDiv").hide();
        }

        $("#auscultationCheckBox").click(function() {
            if( $("#auscultationCheckBox").is(':checked')) {
                $("#auscultationDiv").show();
            } else {
                $("#auscultationDiv").hide();
            }
        });
        $("#occupiedRectalAmpouleDiv").hide();
        $('#medical_consultation_physical_exam_attributes_proctochological_examination_attributes_rectal_ampoule').on('change', function() {
            if(this.value == "OCUPADA"){
                $("#occupiedRectalAmpouleDiv").show();
            }else{
                $("#occupiedRectalAmpouleDiv").hide();
            }
        })

        if( $("#formationCheckBox").is(':checked')) {
            $("#formationPositionDiv").show();
        } else {
            $("#formationPositionDiv").hide();
        }

        $("#formationCheckBox").click(function() {
            if( $("#formationCheckBox").is(':checked')) {
                $("#formationPositionDiv").show();
            } else {
                $("#formationPositionDiv").hide();
            }
        });

        var stage = new Konva.Stage({
            container: 'breast',
            width: 800,
            height: 300
        });
        var layer = new Konva.Layer();

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_first_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 180
        });

        right_breast_first_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_right_breast_first_quadrant').value = value;
            layer.draw();
        });
        // add the shape to the layer
        layer.add(right_breast_first_quadrant);

        //---------------------------- Segundo cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_second_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 270
        });

        right_breast_second_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_right_breast_second_quadrant').value = value;
            layer.draw();
        });
        layer.add(right_breast_second_quadrant);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_third_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 90
        });

        right_breast_third_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_right_breast_third_quadrant').value = value;
            layer.draw();
        });
        layer.add(right_breast_third_quadrant);

        //---------------------------- Cuarto cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_fourth_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 0
        });

        right_breast_fourth_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_right_breast_fourth_quadrant').value = value;
            layer.draw();
        });
        layer.add(right_breast_fourth_quadrant);


        //---------------------------- Centro pecho izquierdo -----------------------------------------------------
        var right_breast_center = new Konva.Circle({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 30,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4
        });

        right_breast_center.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_center').value = value;
            layer.draw();
        });

        layer.add(right_breast_center);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_first_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 180
        });

        left_breast_first_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_first_quadrant').value = value;
            layer.draw();
        });
        // add the shape to the layer
        layer.add(left_breast_first_quadrant);

        //---------------------------- Segundo cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_second_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 270
        });

        left_breast_second_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_second_quadrant').value = value;
            layer.draw();
        });
        layer.add(left_breast_second_quadrant);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_third_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 90
        });

        left_breast_third_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_third_quadrant').value = value;
            layer.draw();
        });
        layer.add(left_breast_third_quadrant);

        //---------------------------- Cuarto cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_fourth_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 0
        });

        left_breast_fourth_quadrant.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_fourth_quadrant').value = value;
            layer.draw();
        });
        layer.add(left_breast_fourth_quadrant);


        //---------------------------- Centro pecho izquierdo -----------------------------------------------------
        var left_breast_center = new Konva.Circle({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 30,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 4
        });

        left_breast_center.on('click', function() {
            this.fill(this.fill() == 'white' ? 'blue' : 'white');
            var value = this.fill() == 'blue' ? 1 : 0;
            document.getElementById('medical_consultation_physical_exam_attributes_breast_exam_attributes_left_breast_center').value = value;
            layer.draw();
        });

        layer.add(left_breast_center);
        // add the layer to the stage
        stage.add(layer);
    });
</script>