<div class="row">
  <div class="col-md-12">
    <h1>Consulta</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>Fecha </label>
    <input value="<%= @medical_consultation.date.strftime("%d/%m/%Y") %>" disabled  class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Motivo</label>
    <textarea class="form-control" disabled > <%= @medical_consultation.reason %></textarea>
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">Examen Fisico </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <label for = "superficial_pain">Estado general</label>
      <%= @medical_consultation.physical_exam.overall_status %>
    </div>
  </div>

  <% if @medical_consultation.physical_exam.activate_abdomen %>
    <div class="panel panel-info">
      <div class="panel-heading"><label>Abdomen </label> </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          <% if @medical_consultation.physical_exam.abdomen.inspection %>
              <div class="panel panel-success">
                <div class="panel-heading"><label>Inspeccion </label></div>
                <div class="panel-body">
                  <div class="row">
                    <% if @medical_consultation.physical_exam.abdomen.plane %>
                    <div class="col-md-2">
                     <h4><span class="label label-primary">Plano</span></h4>
                    </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.spherical %>
                        <div class="col-md-2">
                          <h4><span class="label label-primary">Globoso</span></h4>
                        </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.relaxed %>
                        <div class="col-md-2">
                          <h4><span class="label label-primary">Distendido</span></h4>
                        </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.asymmetric %>
                        <div class="col-md-2">
                          <h4><span class="label label-primary">Asimetrico</span></h4>
                        </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <% if @medical_consultation.physical_exam.abdomen.umbilical_hernia %>
                        <div class="col-md-2">
                          <h4><span class="label label-primary">Hernia Umbilical </span></h4>
                        </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.eventration %>
                        <div class="col-md-2">
                          <h4><span class="label label-primary">Eventracion </span></h4>
                        </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for = "location">Localizacion: </label>
                      <%= @medical_consultation.physical_exam.abdomen.location%>
                    </div>
                    <div class="col-md-6">
                      <label for = "size">Tamaño: </label>
                      <%= @medical_consultation.physical_exam.abdomen.size%>
                    </div>
                  </div>
                  <br>
                  <% if @medical_consultation.physical_exam.abdomen.scar %>
                    <label>Cicatrices </label>
                    <div class="row">
                      <% if @medical_consultation.physical_exam.abdomen.msu %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">MSU </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.miu %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">MIU </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.xp %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">XP </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.mc_burney %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">MC Burney </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.kocher %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">Kocher </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.pfannenstiel %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">Pfannenstiel </span></h4>
                          </div>
                      <% end %>
                      <% if @medical_consultation.physical_exam.abdomen.others %>
                          <div class="col-md-1">
                            <h4><span class="label label-primary">Otras </span></h4>
                          </div>
                      <% end %>
                    </div>
                    <% if @medical_consultation.physical_exam.abdomen.others %>
                      <div class="row">
                        <div class="col-md-12">
                          <label for = "others_description">Aclaracion </label>
                          <%= @medical_consultation.physical_exam.abdomen.others_description %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
              </div>
            <% end %>

            <% if @medical_consultation.physical_exam.abdomen.palpation %>
              <div class="panel panel-success">
                <div class="panel-heading"><label>Palpacion </label></div>
                <div class="panel-body">
                  <div class="row">
                    <% if @medical_consultation.physical_exam.abdomen.soft %>
                        <div class="col-md-1">
                          <h4><span class="label label-primary">Blando </span></h4>
                        </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.uptight %>
                        <div class="col-md-1">
                          <h4><span class="label label-primary">Tenso </span></h4>
                        </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.abdomen.painful %>
                        <div class="col-md-1">
                          <h4><span class="label label-primary">Doloroso </span></h4>
                        </div>
                    <% end %>
                  </div>
                  <% if @medical_consultation.physical_exam.abdomen.painful %>
                    <div class="row">
                      <div class="col-md-3">
                        <label for = "superficial_pain">Dolor Superficial</label>
                        <%= @medical_consultation.physical_exam.abdomen.superficial_pain %>
                      </div>
                      <div class="col-md-3">
                        <label for = "deep_pain">Dolor Profundo </label>
                        <%= @medical_consultation.physical_exam.abdomen.deep_pain %>
                      </div>
                      <div class="col-md-3">
                        <label for = "defence">Defensa </label>
                        <%= @medical_consultation.physical_exam.abdomen.defence  %>
                      </div>
                      <div class="col-md-3">
                        <label for = "peritoneal_reaction">Reaccion Peritoneal </label>
                        <%= @medical_consultation.physical_exam.abdomen.peritoneal_reaction %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>


            <% if @medical_consultation.physical_exam.abdomen.percussion %>
              <div class="panel panel-success">
                <div class="panel-heading"><label>Percusion </label></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      <label for = "bloat">Timpanismo</label>
                      <%= @medical_consultation.physical_exam.abdomen.bloat %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @medical_consultation.physical_exam.abdomen.auscultation %>
              <div class="panel panel-success">
                <div class="panel-heading"><label>Auscultacion </label></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      <label for = "bloat">Ruidos Hidroaereos</label>
                      <%= @medical_consultation.physical_exam.abdomen.auscultation_type %>
                    </div>
                    <div class="col-md-6">
                      <label for="auscultation_location">Localizacion de la anormalidad:</label>
                      <%= @medical_consultation.physical_exam.abdomen.auscultation_location  %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @medical_consultation.physical_exam.activate_proctochological_examination %>
      <div class="panel panel-info">
        <div class="panel-heading"><label>Examen Proctologico</label>  </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <% if @medical_consultation.physical_exam.proctochological_examination.sking_lesion != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "sking_lesion">Lesion de piel</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.sking_lesion %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.hematoma != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "hematoma">Hematoma</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.hematoma %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.traumatic_injury != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="traumatic_injury">Lesion Traumatica</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.traumatic_injury  %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.uncomplicated_hemorrhoids != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="uncomplicated_hemorrhoids">Hemorroides no complicada</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.uncomplicated_hemorrhoids %>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <% if @medical_consultation.physical_exam.proctochological_examination.acute_fissure != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "acute_fissure">Fisura aguda</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.acute_fissure %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.chronic_fissure != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "chronic_fissure">Fisura cronica</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.chronic_fissure %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.fistulous_orifice != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="fistulous_orifice">Orificio fistuloso</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.fistulous_orifice %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.bulging != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="bulging">Abombamiento</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.bulging %>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <% if @medical_consultation.physical_exam.proctochological_examination.plicoma != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "plicoma">Plicoma</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.plicoma %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.redness != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for = "redness">Enrojecimiento</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.redness %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.thrombosis_hemorrhoids != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="thrombosis_hemorrhoids">Hemorroides Complicada, Trombosis</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.thrombosis_hemorrhoids %>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.proctochological_examination.fluxion_hemorrhoids != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="fluxion_hemorrhoids">Hemorroides Complicada, Fluxion</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.fluxion_hemorrhoids %>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <% if @medical_consultation.physical_exam.proctochological_examination.hemorrhage_hemorrhoids != ProctochologicalExamination::HOUR.first %>
                  <div class="col-md-3">
                    <label for="hemorrhage_hemorrhoids">Hemorroides Complicada, Hemorragia</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.hemorrhage_hemorrhoids %>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="anal_sphincter_tonicity">Tonicidad del esfinter anal</label>
                  <%= @medical_consultation.physical_exam.proctochological_examination.anal_sphincter_tonicity %>
                </div>
                <div class="col-md-3">
                  <label for="rectal_ampoule">Ampolla Rectal</label>
                  <%= @medical_consultation.physical_exam.proctochological_examination.rectal_ampoule %>
                </div>
                <% if @medical_consultation.physical_exam.proctochological_examination.rectal_ampoule != ProctochologicalExamination::RECTAL_AMPOULE_TYPE.first %>
                  <div class="col-md-3" id="occupiedRectalAmpouleDiv">
                    <label for="occupied_rectal_ampoule">Ampolla Rectal Ocupada:</label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.occupied_rectal_ampoule %>
                  </div>
                <% end %>
              </div>
              <% if @medical_consultation.physical_exam.proctochological_examination.formation %>
                <div class="row">
                  <div class="col-md-2">
                    <h4><label for = "formation">Formacion </label></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for = "formation_position">Ubicacion </label>
                    <%= @medical_consultation.physical_exam.proctochological_examination.formation_position %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @medical_consultation.physical_exam.activate_inquinocrural_examination %>
      <div class="panel panel-info">
        <div class="panel-heading"><label>Examen Inguinocrural</label>  </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <table class="table">
                  <thead>
                  <tr>
                    <th style="text-align: center;">Derecha</th>
                    <th style="text-align: center;">Hernia Iguinal</th>
                    <th style="text-align: center;">Izquierda</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.right_reductible_inguinal_hernia ? "Si" : "No" %></td>
                    <td align="center">Reductible</td>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.left_reductible_inguinal_hernia ? "Si" : "No" %></td>
                  </tr>
                  <tr>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.right_coercible_inguinal_hernia ? "Si" : "No" %></td>
                    <td align="center">Coercible</td>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.left_coercible_inguinal_hernia ? "Si" : "No" %></td>
                  </tr>
                  <tr>
                    <th style="text-align: center;">Derecha</th>
                    <th style="text-align: center;">Hernia Crural</th>
                    <th style="text-align: center;">Izquierda</th>
                  </tr>
                  <tr>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.right_reductible_crural_hernia ? "Si" : "No" %></td>
                    <td align="center">Reductible</td>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.left_reductible_crural_hernia ? "Si" : "No" %></td>
                  </tr>
                  <tr>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.right_coercible_crural_hernia ? "Si" : "No" %></td>
                    <td align="center">Coercible</td>
                    <td align="center"><%= @medical_consultation.physical_exam.inguinocrural_examination.left_coercible_crural_hernia ? "Si" : "No" %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @medical_consultation.physical_exam.activate_cervical_examination %>
        <div class="panel panel-info">
          <div class="panel-heading"><label>Examen Cervical </label></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <% if @medical_consultation.physical_exam.cervical_examination.lateral_tumor %>
                  <div class="row">
                    <div class="col-md-2">
                      <label for = "lateral_tumor">Tumor Lateral</label>
                    </div>
                  </div>
                  <div class="row">
                    <% if @medical_consultation.physical_exam.cervical_examination.left_lateral_tumor %>
                      <div class="col-md-2">
                        <label for = "left_lateral_tumor">Izquierdo</label>
                      </div>
                    <% end %>
                    <% if @medical_consultation.physical_exam.cervical_examination.right_lateral_tumor %>
                      <div class="col-md-2">
                        <label for = "right_lateral_tumor">Derecho</label>
                      </div>
                    <% end %>
                    <div class="col-md-8">
                      <label for = "tumor_description">Descripcion</label>
                      <%= @medical_consultation.physical_exam.cervical_examination.tumor_description %>
                    </div>
                  </div>
                <% end %>
                <% if @medical_consultation.physical_exam.cervical_examination.central_tumor %>
                  <div class="row">
                    <div class="col-md-2">
                      <label for = "central_tumor">Central</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for = "central_tumor_description">Descripcion</label>
                      <%= @medical_consultation.physical_exam.cervical_examination.central_tumor_description %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    <% if @medical_consultation.physical_exam.activate_breast_exam %>
      <div class="panel panel-info">
        <div class="panel-heading"><label>Examen Mamario </label> </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h4>Derecho</h4>
                </div>
                <div class="col-md-6">
                  <h4>Izquierdo</h4>
                </div>
              </div>
              <div class="row">
                <div id="show_breast"></div>
                <input id="left_breast_first_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.left_breast_first_quadrant %>"/>
                <input id="left_breast_second_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.left_breast_second_quadrant %>"/>
                <input id="left_breast_third_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.left_breast_third_quadrant %>"/>
                <input id="left_breast_fourth_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.left_breast_fourth_quadrant %>"/>
                <input id="left_breast_center" hidden value="<%= @medical_consultation.physical_exam.breast_exam.left_breast_center %>"/>

                <input id="right_breast_first_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.right_breast_first_quadrant %>"/>
                <input id="right_breast_second_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.right_breast_second_quadrant %>"/>
                <input id="right_breast_third_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.right_breast_third_quadrant %>"/>
                <input id="right_breast_fourth_quadrant" hidden value="<%= @medical_consultation.physical_exam.breast_exam.right_breast_fourth_quadrant %>"/>
                <input id="right_breast_center" hidden value="<%= @medical_consultation.physical_exam.breast_exam.right_breast_center %>"/>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for = "breast_description">Descripcion</label>
                  <%= @medical_consultation.physical_exam.breast_exam.breast_description  %>
                </div>
              </div>
              <div class="row">
                <% if @medical_consultation.physical_exam.breast_exam.right_armpit %>
                  <div class="col-md-4">
                    <label for = "right_armpit">Axila Derecha</label>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <% if @medical_consultation.physical_exam.breast_exam.right_armpit %>
                  <div class="col-md-4">
                    <label for = "left_armpit">Axila Izquierda</label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    <% if @medical_consultation.physical_exam.activate_skin_lesion %>
      <div class="panel panel-info">
        <div class="panel-heading"><label>Lesion de Piel</label>  </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <%= @medical_consultation.physical_exam.skin_lesion_exam.skin_lesion_description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading"><label>Examenes Complementarios</label>  </div>
  <div class="panel-body">
    <% @medical_consultation.complementary_exams.each do |complementary_exam| %>
        <div class="row">
          <div class="col-md-2">
            <label>Tipo </label>
            <%= complementary_exam.complementary_exam_type%>
          </div>
          <div class="col-md-8">
            <label>Observacion </label>
            <%= complementary_exam.comment %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><label>Laboratorio </label> </div>
  <div class="panel-body">
    <% if @medical_consultation.activate_laboratory %>
    <div class="row">
      <div class="col-md-2">
        <table class="table">
          <tbody>
          <tr><th>Tipo</th></tr>
          <tr><th>Hto</th></tr>
          <tr><th>Hb</th></tr>
          <tr><th>GB</th></tr>
          <tr><th>Gluc</th></tr>
          <tr><th>Urea</th></tr>
          <tr><th>Creat</th></tr>
          <tr><th>TGO</th></tr>
          <tr><th>TGP</th></tr>
          <tr><th>FAL</th></tr>
          <tr><th>Amilasa</th></tr>
          <tr><th>BT</th></tr>
          <tr><th>BD</th></tr>
          <tr><th>Prot. Tot.</th></tr>
          <tr><th>Alb</th></tr>
          <tr><th>NA+</th></tr>
          <tr><th>K+</th></tr>
          <tr><th>Plaq</th></tr>
          <tr><th>Conc. PT</th></tr>
          <tr><th>CEA</th></tr>
          <tr><th>CA 19-9</th></tr>
          <tr><th>CA 125</th></tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <table class="table">
          <tbody>
      <% @medical_consultation.laboratories.each do |laboratory| %>
            <tr style="height: 37px;"><td><%= laboratory.date.strftime("%d/%m/%Y") %></td></tr>
            <tr style="height: 37px;"><td>
              <%= laboratory.hto %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.hb %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.gb %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.gluc %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.urea %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.creat %>
            </tr></td>
            <tr style="height: 37px;"><td >
              <%= laboratory.tgo != "" ? laboratory.tgo : " " %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.tgp %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.fal %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.amilasa %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.bt %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.bd %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.prot_tot %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.alb %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.na %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.k %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.plaq %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.conc_pt %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.cea %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.ca199 %>
            </tr></td>
            <tr style="height: 37px;"><td>
              <%= laboratory.ca124 %>
            </tr></td>
      <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <p><%= link_to 'Volver',{:action => "index", :controller => 'medical_consultations', :patient_id => @patient_id  }, class: "btn btn-primary btn-block" %></p>
  </div>
</div>

<script>
    $(document).ready(function() {

        var left_breast_first_quadrant_value = $("#left_breast_first_quadrant").val();
        var left_breast_second_quadrant_value = $("#left_breast_second_quadrant").val();
        var left_breast_third_quadrant_value = $("#left_breast_third_quadrant").val();
        var left_breast_fourth_quadrant_value = $("#left_breast_fourth_quadrant").val();
        var left_breast_center_value = $("#left_breast_center").val();

        var right_breast_first_quadrant_value = $("#right_breast_first_quadrant").val();
        var right_breast_second_quadrant_value = $("#right_breast_second_quadrant").val();
        var right_breast_third_quadrant_value = $("#right_breast_third_quadrant").val();
        var right_breast_fourth_quadrant_value = $("#right_breast_fourth_quadrant").val();
        var right_breast_center_value = $("#right_breast_center").val();

        var stage = new Konva.Stage({
            container: 'show_breast',
            width: 800,
            height: 300
        });
        var layer = new Konva.Layer();

        //---------------------------- Primer cuadrante pecho Derecho -----------------------------------------------------
        var right_breast_first_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: right_breast_first_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 180
        });
        layer.add(right_breast_first_quadrant);

        //---------------------------- Segundo cuadrante pecho derecho -----------------------------------------------------
        var right_breast_second_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: right_breast_second_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 270
        });
        layer.add(right_breast_second_quadrant);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_third_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: right_breast_third_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 90
        });
        layer.add(right_breast_third_quadrant);

        //---------------------------- Cuarto cuadrante pecho izquierdo -----------------------------------------------------
        var right_breast_fourth_quadrant = new Konva.Wedge({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: right_breast_fourth_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 0
        });
        layer.add(right_breast_fourth_quadrant);

        //---------------------------- Centro pecho izquierdo -----------------------------------------------------
        var right_breast_center = new Konva.Circle({
            x: stage.getWidth() / 4,
            y: stage.getHeight() / 2,
            radius: 30,
            fill: right_breast_center_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4
        });
        layer.add(right_breast_center);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_first_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: left_breast_first_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 180
        });
        layer.add(left_breast_first_quadrant);

        //---------------------------- Segundo cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_second_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: left_breast_second_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 270
        });
        layer.add(left_breast_second_quadrant);

        //---------------------------- Primer cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_third_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: left_breast_third_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 90
        });

        layer.add(left_breast_third_quadrant);

        //---------------------------- Cuarto cuadrante pecho izquierdo -----------------------------------------------------
        var left_breast_fourth_quadrant = new Konva.Wedge({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 120,
            angle: 90,
            fill: left_breast_fourth_quadrant_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4,
            rotation: 0
        });

        layer.add(left_breast_fourth_quadrant);

        //---------------------------- Centro pecho izquierdo -----------------------------------------------------
        var left_breast_center = new Konva.Circle({
            x: stage.getWidth()*3 / 4,
            y: stage.getHeight() / 2,
            radius: 30,
            fill: left_breast_center_value == 'true' ? 'blue' : 'white',
            stroke: 'black',
            strokeWidth: 4
        });

        layer.add(left_breast_center);
        // add the layer to the stage
        stage.add(layer);
    });
</script>