<h1>Modificar contraseña</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag update_password_user_path do %>
        <fieldset>
          <legend>Cambiar contraseña</legend>
          <div class="row">
            <div class="col-md-12">
              <%= label_tag 'Contraseña actual' %>
              <%= password_field_tag :actual_password, "", class: 'form-control', placeholder: '*******' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= label_tag 'Contraseña nueva' %>
              <%= password_field_tag :new_password, "", class: 'form-control', placeholder: '*******' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= label_tag 'Repetir contraseña nueva' %>
              <%= password_field_tag :password_confirm, "", class: 'form-control', placeholder: '*******' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col-md-2 col-xs-5 col-sm-5">
              <%= submit_tag 'Cambiar contraseña', :method => :post, class: 'btn btn-primary'%>
            </div>
          </div>
        </fieldset>
    <% end %>

  </div>
</div>

