<!DOCTYPE html>
<html lang="es">
<h1 align="center">Recuperar ingreso</h1>

<%= form_tag send_new_password_users_path do %>
    <div class="container col-md-12 col-lg-12">
      <div class="col-md-4 col-md-offset-4">
        <% flash.each do |key, value| %>
            <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>ERROR</strong> <%= content_tag :Div, value, class: "flash #{key}" %>
            </div>
        <% end %>

        <div class="form-group">
          <h4 align="center">Ingresá el email con el que te registraste, revisá tu casilla y seguí las instrucciones.</h4>
          <p>
            <%= label_tag(:email, "Ingresa tu e-mail", class: 'sr-only') %>
            <%= email_field_tag :email, "", class: 'form-control', placeholder: 'juan@gmail.com', required: true, autofocus: true%>
          </p>

          <p>
            <%= submit_tag "Enviar", class:'btn btn-primary btn-block' %>
          </p>
        </div>
      </div>
    </div>
<% end %>
</html>