<h1>Nuevo usuario</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
                <div class="alert alert-danger">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>ERROR</strong> <%= message %>
                </div>
            <% end %>
        <% end %>

        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :surname, "Apellido" %>
        <%= f.text_field :surname, class: 'form-control' %>

        <%= f.label :email%>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "Contraseña"%>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmar contraseña"%>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <hr>
        <%= f.submit "Crear usuario", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>