<h1>Pacientes</h1>

<div class="row">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Obra Social/Num</th>
        <th>Accion</th>
      </tr>
      <% @patients.each do |data| %>
          <tr>
            <td><%= data.name %></td>
            <td><%= data.surname %></td>
            <td><%= data.document_number %></td>
            <td><%= data.associate_number %></td>
            <td><b> <%= link_to 'Editar', {:action => "edit", :id => data.id}, class: "btn btn-primary" %></b>
                <b> <%= link_to 'Consultas', medical_consultations_list_path(data) , method: :get , class: "btn btn-primary"  %></b>
            </td>
          </tr>
      <% end %>
    </table>
</div>
<p><%= link_to "Agregar nuevo paciente", {:action => 'new' }, class: "btn btn-primary"%></p>