<!DOCTYPE html>
<html>
<head>

  <title>Mi Historia Clinica</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>
</head>
<body>
  <div class="container" style="width:80%;">
    <% if flash[:notice] %>
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= content_tag :div, flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= content_tag :div, flash[:error] %>
        </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>

</html>